$pinMargin: 15;
$radius: 6px;

.pins-grid {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.pin {
    background: #FEFEFE;
    // border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    background: linear-gradient(45deg, #FFF, #F9F9F9);
    transition: opacity 1.5s ease;
    opacity: 0;

    // max-width: 300px;
    margin: 10px auto;
    border-radius: 6px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

.pin {
  & > *:not(:first-child) {
    border-top: 1px solid #e7e7e7;
  }

  & > *:not(.image) {    
    color: #777;
    padding: 5px 12px 6px;    
  }

  .image {
    text-align: center;
    position: relative;
    width: 100%;    
    img {
      width: 100%;   
      vertical-align: middle;
    }
  }

  .image-placed {
    @extend .image;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }    
  }

  & > div:first-child, 
  & :first-child img {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;    
  }

  & > div:last-child, 
  & :last-child img {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

@mixin pins-grid($columns, $margin) {
  $i: 0;
  $pin-width: (100/$columns);
  @while $i < $columns {
    .pin:nth-child(#{$columns}n+#{$i+1}) {
      left: calc(#{$pin-width * $i}%);
      width: calc(#{$pin-width}% - #{$margin}px);
      position: absolute;
      margin: 0;
    }

    $i: $i + 1;
  }  
}

@for $i from 2 through 20 {
  .pins-grid-#{$i} {
    @include pins-grid($i, $pinMargin);
  }
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
// @media (min-width: $screen-sm-min) {
//   @include pins-grid(4, $pinMargin);
// }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: $screen-md-min) {
//   @include pins-grid(6, $pinMargin);
// }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: $screen-lg-min) {
//   @include pins-grid(12, $pinMargin);
// }

.pins-grid-controls {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  transform: translateZ(0);
}

%pins-grid-control {
  background-color: gray;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  padding: 8px;  
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  
  &:not(:first-child) {
    margin-top: 10px;
  }
  
}

.zoom-in {
  @extend %pins-grid-control;
 
}

.zoom-out {
  @extend %pins-grid-control;

}

